// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'mixin';
// Footer Section
footer{
    .#{&}-links{
        color: $gray-600;
        list-style: none;
        font-weight: 500;
        & li:first-child{
            color: $gray-200;
            text-transform: capitalize;
            font-weight: 500;
        }
    }
   .#{&}-underline{
        background-color: $gray-600;
        height: 0.8px;
        width: 100%;
   }
   .#{&}-copy_right{
        color: $gray-600;
   }
}
// End Footer section

// INDEX PAGE ::::::::


// Hero Section
.hero{
    width: 100%;
    min-height: 60vh;
    @include center;
    width: 100%;
    background-image: linear-gradient(to top, rgba(42, 43, 44, 0.575), rgba(56, 52, 55, 0.73)) ,url('https://images.pexels.com/photos/669996/pexels-photo-669996.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    letter-spacing: 2px;
    #{&}_btn{
        @include center;
    }
    
}
// End Hero Section

// Struggling to be developer start
.struggling {

    &_text{
        #{&}_header{
            @include title;

        }
        #{&}_para1{
            $color: $gray-600;
            padding-bottom: 20px;
        }
        #{&}_para2{
            font-weight: bold;
            padding-bottom: 20px;
        }
    }
}
// Struggling to be developer end
//About me start
.about_me{
    background-color: black;
    @include center;
    #{&}_text{
        color: $gray-600;
        padding: 20px 0;
    }
    #{&}_list{
        p{
            font-size: 20px;
            font-weight: bold;
        
        }
    }
}
// About me end


// Recent Posts start
.recent_posts{
    #{&}_blog_title{
        color: $gray-600;
        padding: 20px;
    }
    #{&}_title{
       @include title;
    }
    #{&}_text{
        padding-bottom: 20px;
    }
    &_card{
    
        &_text{
         #{&}_language{
             color: $gray-600;
             padding-bottom: 20px;
         }
         #{&}_description{
             color: $gray-200;
             font-weight: 500;
             font-size: 16px;
             padding-bottom: 20px;
         }
        }
     }
}
// Recent posts end

// :::::INDEX PAGE END

// BLOG PAGE ::::::
.blog{
    &_posts{
        @include title;
    }
    #{&}_title{
        font-weight: bolder;
        font-size: 22px;
        padding-bottom: 10px;
    }
    #{&}_by{
        color: $gray-600;
        padding-bottom: 20px;
    }
    #{&}_description{
        font-size: 16px;
        padding-bottom: 20px;
    }
}
// :::::BLOG PAGE END
// create form
.create_title{
    @include title;
}